@charset 'UTF-8';

* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    color: #373A3C;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0;
}

a {
    text-decoration: none;
    padding-left: 16px;
}

#container {
    display: grid;
    grid-template-areas: 'header header header header' 'middle middle middle middle' 'footer footer footer footer';
    margin: 1.5em auto;
}

header {
    grid-area: header;
    height: auto;
    text-align: right;
    padding-right: 2em;
}

header a {
    padding-top: 22vh;
}

main {
    grid-area: middle;
    height: auto;
    margin-top: 32px;
}

main div {
    padding-top: 22vh;
    text-align: center;
}

main p {
    margin-top: 2em;
}

#footer {
    grid-area: footer;
    height: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#footer p {
    color: #373A3F;
    font-size: 11pt;
    font-weight: 500;
    text-align: center;
}

a:link { color: #1D1D1F; }
a:visited { color: #1D1D1F; }
a:hover { color: #6E6E73; }
a:active { color: #1D1D1F; }
